@import "@workspace/ui/globals.css";

:root {
  --font-hedvig-sans: "Hedvig Letters Sans", system-ui, sans-serif;
  --font-hedvig-serif: "Hedvig Letters Serif", Georgia, serif;
}

html {
  font-family: var(--font-sans);
}
